<title>{{ yield:alt_seo_title }}{{ title }}{{ /yield:alt_seo_title }}</title>
<link rel="canonical" href="{{ yield:alt_seo_canonical }}{{ canonical }}{{ /yield:alt_seo_canonical }}">
<meta name="description" content="{{ yield:alt_seo_description }}{{ description }}{{ /yield:alt_seo_description }}">
<meta name="robots" content="{{ yield:alt_seo_robots }}{{ robots }}{{ /yield:alt_seo_robots }}">
<!-- Facebook Meta Tags -->
<meta property="og:url" content="{{ yield:alt_seo_og_url }}{{ og_url }}{{ /yield:alt_seo_og_url }}">
<meta property="og:type" content="{{ yield:alt_seo_og_type }}{{ og_type }}{{ /yield:alt_seo_og_type }}">
<meta property="og:title" content="{{ yield:alt_seo_og_title }}{{ og_title }}{{ /yield:alt_seo_og_title }}">
<meta property="og:description" content="{{ yield:alt_seo_og_description }}{{ og_description }}{{ /yield:alt_seo_og_description }}">
<meta property="og:image" content="{{ yield:alt_seo_og_image }}{{ og_image }}{{ /yield:alt_seo_og_image }}">
<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="{{ yield:alt_seo_twitter_card }}{{ twitter_card }}{{ /yield:alt_seo_twitter_card }}">
<meta name="twitter:domain" content="{{ yield:alt_seo_twitter_domain }}{{ twitter_domain }}{{ /yield:alt_seo_twitter_domain }}">
<meta property="twitter:url" content="{{ yield:alt_seo_twitter_url }}{{ twitter_url }}{{ /yield:alt_seo_twitter_url }}">
<meta name="twitter:title" content="{{ yield:alt_seo_twitter_title }}{{ twitter_title }}{{ /yield:alt_seo_twitter_title }}">
<meta name="twitter:description" content="{{ yield:alt_seo_twitter_description }}{{ twitter_description }}{{ /yield:alt_seo_twitter_description }}">
<meta name="twitter:image" content="{{ yield:alt_seo_twitter_image }}{{ twitter_image }}{{ /yield:alt_seo_twitter_image }}">
